/*body {
  font-family: 'Gudea';
  font-size: 2em;
}*/

/*.panel {
  padding-top: 6px;
}*/

.container, .container-fluid {
  padding-top: 16px;
}

.fa-quote-left {
  margin-right: 6px;
  color: green;
}

.glyphicon-cloud-upload {
  margin-right: 6px;
  margin-left: 6px;
  font-size: x-large;
}

.file-upload-button {
  margin-left: 6px;
}

.btn-lg {
  width: 150px;
}

ul.bom-list {
  list-style-type: square;    
}

.fa-columns {
  margin-right: 6px;
  margin-bottom: 6px;
}

li.inactive {
 color: silver;
}

.fa-user-plus {
  margin-right: 6px;
}

.h1 {
  margin-left: 12px;
  margin-right: 12px;
}

.push-right-6 {
  margin-left: 6px;
}

div.inline {
  display: inline-block;
  margin-right: 12px;
  vertical-align: top;
}

label.light {
  font-weight: normal;
}

.bordered {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black
}

.with-padding-6 {
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
  margin-right: 6px;
}

.bom-part-header-left {
  background-color: #0099FF;
  border-collapse: collapse;
  border-top: 1px solid navy;
  border-bottom: 1px solid navy;
  border-right: 1px solid navy;
  border-left: 1px solid navy;
  min-width: 60%;
  margin-right: -5%;
  color: #fefbf6;
}
.bom-part-header-right {
  background-color: #0099FF;
  border-collapse: collapse;
  border-top: 1px solid navy;
  border-bottom: 1px solid navy;
  border-right: 1px solid navy;
  border-left: 1px solid navy;
  min-width: 30%;
  margin-left: -5%;
  color: #fefbf6;
}

.bom-part-left {
  border-collapse: collapse;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
  min-width: 60%;
  margin-right: -5%;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
} 

.bom-part-right {
  border-collapse: collapse;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
  min-width: 30%;
  margin-left: -5%;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.matched-part-header {
  background-color: #0099FF;
  border-collapse: collapse;
  border-top: 1px solid navy;
  border-bottom: 1px solid navy;
  border-right: 1px solid navy;
  border-left: 1px solid navy;
  min-width: 95%;
  margin-right: -5%;
  margin-left: -5%;
  color: #fefbf6;
}

.matched-part {
  border-collapse: collapse;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
  min-width: 95%;
  margin-right: -5%;
  margin-left: -5%; 
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
} 
